.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 10px auto;
  padding: 10px;

  background-color: #fff;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #ccd4ff;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  background-color: #ccd4ff;
}

.image {
  border-radius: 10px;
}

.genre {
  list-style: none;
}

.infoBlock {
  display: flex;
  justify-content: center;
}

.activeButton {
  font-weight: 700;
}
