.cardItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.cardItem:hover,
.cardItemInfo:hover {
  cursor: pointer;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

  border-radius: 10px;
}

.cardImage {
  width: 90%;
  border-radius: 10px;
}

.cardItemName {
  display: flex;
  text-align: center;

  max-width: 70%;
  margin: auto;
}

.cardItemName::before {
  display: flex;

  position: relative;
  top: 2px;
  margin-right: 4px;
  content: url('images/film-icon-20-px.png');
}
