.Searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #fff;
}

.SearchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.SearchFormInput {
  display: inline-block;
  width: 100%;
  font: inherit;
  font-size: 20px;
  border: 1px solid black;
  outline: none;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
}

.SearchFormInput::placeholder {
  font: inherit;
  font-size: 18px;
}

.inputButton {
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.inputButton:hover,
.inputButton:focus {
  cursor: pointer;
  background-color: #ccd4ff;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}
